@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Rubik&display=swap');

:root{
    --mb-1: 7.5rem;
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 10.5rem;
    --big-font-size: 12.25rem;
    --small-font-size: 4rem;
    --left1: 400px;
    --left2: 110px;
    --smallest-font-size: 1rem;
}
body{
    background-image: url("/assets/img/1048232144.jpg.0.jpg");
 
  background-size: cover;
}
@media screen and (max-width: 1100px){
    .body{
        display: block;
    }
    :root{
     display: block;
    --big-font-size: 9.5rem;
    --small-font-size: 3rem;
    --smallest-font-size: .8rem;
    --left2: 200px;
    --left1: 200px;
    }
    .degree{
        
        top: 200px;
      
    }
    .state{
      
        top: 380px;
      

    }
    .details{
        
        top: 440px;
      
    }
}
.degree{
    position: absolute;
    font-size: var(--big-font-size);
    font-family: 'Rubik', sans-serif;
    color: aliceblue;
    left: var(--left2);
    bottom: 130px;
    margin: 0;
    padding: 0;
    
}
.container{
    position: absolute;
    border-style: solid;
    border-width: 0px;
    height: 100vh;
    width: 35vw;
    top: 0px;
    right: 0px;
    background: rgba(16, 13, 32, 0.8);
}
.flex-item1{
    background: none;
    border: none;
    border-bottom: 0.1px rgb(90, 89, 89) solid;
    padding: 0 1rem 0.5 0;
    width: 60%;
    color: rgb(147, 148, 150);
    font-size: 1.1em;
    margin-top: 67px;
    margin-left: 57px;
}
.container__list{
    position: absolute;
    color: rgb(110, 112, 114);
    left: 57px;
    top: 129px;
}

.flex-item2{
    background-color: rgb(60, 64, 67);
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    height: 1px;
    width: 75%;
    left: 57px;
    top: 318px;
    position: absolute;
    right: 60px;
}
.weather{
    position: absolute;
    color: rgb(192, 197, 201);
    top: 15px;
    left: 1px;
}

.weather__detail{
    position: relative;
    top: -10px;
    left: -56px;
}
.state{
    position: absolute;
    color: white;
    bottom: 240px;
    left: var(--left1);
    font-size: var(--small-font-size);
    margin: 0;
    padding: 0;
}
.details{
    position: absolute;
    color: rgb(233, 233, 233);
    bottom: 220px;
    left: var(--left1);
    font-size: var(--smallest-font-size);
    margin: 0;
    padding: 0;
}

.search-box{
    position: absolute;
    border-style: solid;
    right: 0px;
    border-width: 0px;
    height: 93px;
    width: 80px;
    background: rgb(140, 140, 190);
    text-align: center;
}
.search{
    position: absolute;
    top:35px;
    left: 30px;
    text-align: center;
    
}